S3method(as.data.frame,nc_slice)
S3method(plot,nc_slice)
export(nc_slice)
export(nc_write)
export(nc_write_map)
importFrom(ncdf4,nc_close)
importFrom(ncdf4,nc_create)
importFrom(ncdf4,nc_open)
importFrom(ncdf4,ncatt_put)
importFrom(ncdf4,ncdim_def)
importFrom(ncdf4,ncvar_add)
importFrom(ncdf4,ncvar_def)
importFrom(ncdf4,ncvar_get)
importFrom(ncdf4,ncvar_put)
importFrom(plyr,l_ply)
importFrom(plyr,llply)
importFrom(reshape2,acast)
importFrom(reshape2,melt)
